@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.layout{
    @apply w-full max-w-6xl mx-auto px-4 h-screen;
}

.navbar {
  @apply flex justify-between items-center h-24;
}

.navbar-left {
  @apply flex items-center gap-12 grow;
}

.navbar-logo {
  @apply flex items-center gap-2 text-[20px] font-bold;
}

.navbar-right {
  @apply flex items-center gap-8;
}

.btn-auth {
  @apply text-[#333] py-2 px-4 rounded-md transition duration-300 cursor-pointer;
}
